/* Variables */
/* === === === === === === === === */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Helvetica";
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 578px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.5rem 0;
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  text-align: center;
}

.btn-danger {
  padding: 15px 40px;
  color: #E8162E;
  border: 1px solid #E8162E;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
}

/* Section Filter */
.filter {
  background: #818181;
}

@media (max-width: 970px) {
  .filter-row .filter-title {
    margin: 25px auto 25px 0;
  }
}

@media (max-width: 640px) {
  .filter-row {
    display: block;
  }
  .filter-row .filter-title {
    margin: 25px auto 25px 10px;
  }
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.filter-select h5 {
  color: #fff;
  font-weight: 100;
  margin-left: 1.5rem;
}

.filter-title h2, .filter-title p, .filter-title span {
  color: #fff;
}

.filter-title h2 {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 100;
}

@media (max-width: 640px) {
  .filter-title h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .filter-title h2 {
    font-size: 1.3rem;
  }
}

.filter .dropdown-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter .filter-drop_btn {
  background-color: transparent;
  color: #fff;
  padding: 8px 12px;
  width: 160PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 0px;
  margin: 5px 20px;
  cursor: pointer;
  overflow: hidden;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
}

@media (max-width: 420px) {
  .filter .filter-drop_btn {
    margin: 5px 10px;
  }
}

@media (max-width: 380px) {
  .filter .filter-drop_btn {
    width: 140PX;
    margin: 5px;
  }
}

.filter-dropdown_content {
  display: none;
  position: absolute;
  top: 50px;
  left: 1.5rem;
  border-radius: 15px;
  background-color: #f1f1f1;
  min-width: 180px;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media (max-width: 420px) {
  .filter-dropdown_content {
    left: .750rem;
  }
}

.filter-dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

.filter-dropdown_content a:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.filter-dropdown_content a:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.filter-dropdown_content a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.filter-dropdown_content.show {
  display: block;
}

.result {
  background: #F8F8F8;
}

.result-box_content {
  width: 100%;
  margin: 20px 0;
}

.result-border {
  width: 50px;
  border: 2px solid #E8162E;
  margin-bottom: 1rem;
}

.result h1, .result p, .result .btn-link {
  color: #000;
  padding-bottom: 1rem;
}

.result .btn-link {
  font-weight: bold;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */