
/* Variables */

$dropdown-spacing: 1.5rem;
$border-content: #E8162E;

$bgc-search-result: #818181;
$white: #fff;

/* === === === === === === === === */

// Globals
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Helvetica";
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  @media (max-width: 578px) {
    width: 90%;
    margin: auto;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 0;
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  text-align: center;
  &-danger {
    padding: 15px 40px;
    color: #E8162E;
    border: 1px solid #E8162E;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
  }
}

/* Section Filter */

.filter {

  background: $bgc-search-result;

  &-row {
    @media (max-width: 970px) {
      .filter-title {
        margin: 25px auto 25px 0;
      }
    }
    @media (max-width: 640px) {
      display: block;
      padding: 1.5rem 0;
      .filter-title {
        margin: 25px auto 25px 10px;        
      }
    }
  }

  &-dropdown {
    position: relative;
    display: inline-block;
  }

  &-select {
    h5 {
      color: $white;
      font-weight: 100;
      margin-left: $dropdown-spacing;
      @media (max-width: 420px) {
        margin-left: .550rem;
      }
    }
  }

  &-title {
    h2, p, span {
      color: $white;
    }
    h2 {
      padding-bottom: 1rem;
      font-size: 2rem;
      font-weight: 100;
      @media (max-width: 640px) {
        font-size: 1.5rem;
      }
      @media (max-width: 420px) {
        font-size: 1.3rem;        
      }
    }
  }

  .dropdown-group {
    display: flex;
    align-items: center;
  }

  .filter-drop_btn {
    background-color: transparent;
    color: $white;
    padding: 8px 12px;
    width: 160PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 0px;
    margin: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    border: {
      color: $white;
      width: 1px;
      style: solid;
      radius: 40px;
    }
    @media (max-width: 420px) {
      margin: 5px 10px;
    }
    @media (max-width: 380px) {
      width: 140PX;
      margin: 5px;
    }
  }

  &-dropdown_content {
    display: none;
    position: absolute;
    top: 50px;
    left: $dropdown-spacing;
    border-radius: 15px;
    background-color: #f1f1f1;
    min-width: 180px;
    transition: ease .5s all;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    @media (max-width: 420px) {
      left: .750rem;      
    }
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: ease .5s all;
      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &:hover {
        background-color: rgba(0,0,0,.05);
      }
    }
    &.show {display:block;}
  }

}

.result {

  background: #F8F8F8;

  &-box_content {
    width: 100%;
    margin: 20px 0;
  }

  &-border {
    width: 50px;
    border: 2px solid $border-content;
    margin-bottom: 1rem;
  }

  h1, p, .btn-link {
    color: #000;
    padding-bottom: 1rem;
  }

  .btn-link {
    font-weight: bold;
    text-decoration: underline;
  }

}
